body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .background {
    background-image: url('https://vcdn1-kinhdoanh.vnecdn.net/2021/09/15/settop18-1631688361-5480-1631688476.jpg?w=500&h=300&q=100&dpr=1&fit=crop&s=pcYU03TM_EzLLm9TxdBsDA'); /* Đường dẫn đến hình nền */
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
    form {
        max-width: 200px;
      }
  }
  